---
layout: default
---
{% comment %}
<!-- *************
To explain a little what is going on here...
Projects are have a tag "large", "medium" or "small".
We want to build a tiled layout for the first:
2 large projects, 1 medium project, 2 small projects.
We loop over the projects collection 3 times for each
project size, spitting out the first 1-2 posts we find.
We build an array (featured_posts) from a comma separated
string, to keep note of which posts we have already
rendered. Then, we loop through the posts again and
render any that have not already been rendered.
A few tricks:
1. There is no way to create an array other than splitting a string.
2. I convert a string to a number with the | times: 1 filter
3. The array of index numbers is actually strings (there is no
way to "push" a value to an array in liquid) so we need to convert
the forloop index to a string to compare it.
4. I convert a number to a string with | append: "".
**************** -->
{% endcomment %}

{% assign featured_posts = '' %}
<section class="projects tiles">
  <ul>
<!-- Start featured posts -->
{% assign list = "large:2,medium:1,small:2" | split: "," %}
{% for item in list %}
{% assign limit = item | split: ":" | last | times: 1 %}
{% assign size = item | split: ":" | first %}
  {% for post in site.projects %}
    {% if post.featured contains size and limit > 0 %}
    {% assign limit = limit | minus: 1 %}
    {% assign class = post.featured | append: " featured" %}
{% include excerpt.html class = class no_excerpt = true %}
    {% assign featured_posts = featured_posts | append: forloop.index0 | append: "," %}
    {% endif %}
  {% endfor %}
{% endfor %}
<!-- End featured posts -->
<!-- Start all other posts 
  disabling this for now because we dont want to showcase the 
  archived projects 
{% assign featured_posts = featured_posts | split: "," %}
{% for post in site.projects %}
  {% assign index0 = forloop.index0 | append: "" %}
  {% unless featured_posts contains index0 %}
{% include excerpt.html class = "small" no_excerpt = true %}
  {% endunless %}
{% endfor %}
 End all other posts -->
  </ul>
</section>
