---
layout: default
top_bar: full
---
{% assign posts = '' %}

{% assign limit = '-2' %}
{% for post in site.projects %}
{% if post.featured contains 'large' and limit contains '-' %}
{% capture limit %}{{ limit | plus: 1 }}{% endcapture %}
{% capture posts %}{{ posts | append: forloop.index0 }},{% endcapture %}
{% endif %}
{% endfor %}

{% assign limit = '-1' %}
{% for post in site.projects %}
{% if post.featured contains 'medium' and limit contains '-' %}
{% capture limit %}{{ limit | plus: 1 }}{% endcapture %}
{% capture posts %}{{ posts | append: forloop.index0 }},{% endcapture %}
{% endif %}
{% endfor %}

{% assign limit = '-2' %}
{% for post in site.projects %}
{% if post.featured contains 'small' and limit contains '-' %}
{% capture limit %}{{ limit | plus: 1 }}{% endcapture %}
{% capture posts %}{{ posts | append: forloop.index0 }},{% endcapture %}
{% endif %}
{% endfor %}

{% for post in site.projects %}
{% capture index0 %}{{ forloop.index0 }}{% endcapture %}
{% unless posts contains index0 %}
{% capture posts %}{{ posts | append: forloop.index0 }},{% endcapture %}
{% endunless %}
{% endfor %}

{% assign posts = posts | split: "," %}

<section class="projects">
  
  <ul>
    {% assign limit = '-6' %}{% for index in posts %}{% for post in site.projects %}{% capture index0 %}{{ forloop.index0 }}{% endcapture %}{% if index0 == index %}{% capture limit %}{{ limit | plus: 1 }}{% endcapture %}{% if limit contains '-' %}{% assign class = post.featured | append: " featured" %}{% endif %}
    {% capture caption_class %}{% if post.light_image != true %}no-background{% endif %}{% endcapture %}
    <li class="project {{ class }}">
      <header class="aspect-ratio">
        <a href="{{post.url}}"><img src="{{ post.image }}"></a>
        <h3 class="title {{ caption_class }}"><a href="{{post.url}}">{{ post.title }}</a></h3>
        <h3 class="short-title {{ caption_class }}"><a href="{{post.url}}">
          {% if post.short_title %}{{ post.short_title }}{% else %}{{ post.title }}{% endif %}
        </a></h3>
      </header>
    </li>
    {% assign class = "" %}{% endif %}{% endfor %}{% endfor %}
  </ul>
  
</section>