---
---

@import "system_font";

// Global Settings
@import "mysettings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Foundation components
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/panels";

// Custom components
@import "components/typography";
@import "components/excerpt";
@import "components/topbar";
// @import "components/slick";
// @import "components/slick-theme";
@import "components/footer";
@import "components/tiles";
@import "components/mc_signup";

// Pages
@import "pages/front-page";
@import "pages/projects-page";
@import "pages/blog-page";
@import "pages/aboutus-page";
@import "pages/mapeo-page";
@import "pages/team-page";
@import "pages/article-page";
@import "pages/video-page";
@import "pages/donate-page";

// fix for all images for browsers without transforms
.no-csstransforms .check-aspect-ratio, .no-csstransforms .embed-container {
    top: 0;
    left:0;
}
