---
layout: default
---
{% assign posts = '' %}

{% assign limit = '-2' %}
{% for post in site.posts %}
{% if post.tags contains 'featured-large' and post.categories contains 'projects' and limit contains '-' %}
{% capture limit %}{{ limit | plus: 1 }}{% endcapture %}
{% capture posts %}{{ posts | append: forloop.index0 }},{% endcapture %}
{% endif %}
{% endfor %}

{% assign limit = '-1' %}
{% for post in site.posts %}
{% if post.tags contains 'featured-medium' and post.categories contains 'projects' and limit contains '-' %}
{% capture limit %}{{ limit | plus: 1 }}{% endcapture %}
{% capture posts %}{{ posts | append: forloop.index0 }},{% endcapture %}
{% endif %}
{% endfor %}

{% assign limit = '-2' %}
{% for post in site.posts %}
{% if post.tags contains 'featured-small' and post.categories contains 'projects' and limit contains '-' %}
{% capture limit %}{{ limit | plus: 1 }}{% endcapture %}
{% capture posts %}{{ posts | append: forloop.index0 }},{% endcapture %}
{% endif %}
{% endfor %}

{% for post in site.posts %}
{% if post.categories contains 'projects' %}
{% capture index0 %}{{ forloop.index0 }}{% endcapture %}
{% unless posts contains index0 %}
{% capture posts %}{{ posts | append: forloop.index0 }},{% endcapture %}
{% endunless %}
{% endif %}
{% endfor %}

{% assign posts = posts | split: "," %}

<section class="projects">
  
  <ul>
    {% for index in posts %}{% for post in site.posts %}{% capture index0 %}{{ forloop.index0 }}{% endcapture %}{% if index0 == index %}
    <li class="project {{ post.tags | join: " " | split: "-" | join: " " }}">
      <header>
        <img src="{{ post.image }}">
        <h3><a href="{{post.url}}">{{ post.title }}</a></h3>
      </header>
    </li>
    {% endif %}{% endfor %}{% endfor %}
  </ul>
  
</section>