$featured-blog-bg: adjust-color($dd-blue, $lightness: 60%, $saturation: 50%);

.featured {
  background-color: $featured-blog-bg;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  img {
    margin-top: 0.5em;
  }
}

.blogroll, .featured {
  .byline {
    line-height: 1.2em;
    margin-top: -0.3em;
    margin-bottom: 0.5em;
    font-size: 0.9em;
    .author {
  //    color: $author-link;
      display: inline;
    }
  }
}

.blogroll {
  &.row {
  margin-bottom: 2em;
  }
  img {
   border: 1px solid #ccc;
   margin-top: 0.25em;
  }
}

@media #{$small} {
  .featured {
    box-shadow: -25rem 0 0 $featured-blog-bg, 25rem 0 0 $featured-blog-bg;
  }
}
