@mixin caption($color: $orbit-caption-bg, $width: 100%, $right: 0, $padding: 0.5em 1em) {
  position: absolute;
  right: $right;
  width: $width;
  bottom: 0;
  background-color: $color;
  margin: 0;
  padding: $padding;
}