@import "mixin-caption";
@import "mixin-image-ratio";

article.blogpost {
  top: - $topbar-margin-top - emCalc($topbar-height) - $topbar-margin-top;
  position: relative;
  header {
    @include image-ratio($ratio24x10);
    .caption {
      @include caption();
      @include grid-column(5, false, false, 1);
      position: absolute;
      p {
        color: white;
      }
    }
  }
  .content {
    @include grid-row();
    p {
      font-family: 'Times New Roman', Times, serif;;
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.5em;
    }
    p + p {
      font-size: 1.3em;
      margin: 0 7em 1.5em;
    }
  }
}