@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/css3/transition";

//
// Top Bar Variables
//
$include-html-top-bar-classes: $include-html-classes !default;

// Background color for the top bar
$topbar-bg-color: transparentize($dd-blue, 0.1) !default;
$topbar-bg: $topbar-bg-color !default;


$topbar-button-bg-color: #9d261d;

// Height and margin
$topbar-height: 45px !default;
$topbar-margin-bottom: 0 !default;

// Control Input height for top bar
$topbar-input-height: 2.45em !default;

// Controlling the styles for the title in the top bar
$topbar-title-weight: bold !default;
$topbar-title-font-size: emCalc(17) !default;

// Set the link colors and styles for top-level nav
$topbar-link-color: #fff !default;
$topbar-link-color-hover: #fff !default;
$topbar-link-color-active: #fff !default;
$topbar-link-weight: bold !default;
$topbar-link-font-size: emCalc(16) !default;
$topbar-link-hover-lightness: -10% !default; // Darken by 30%
$topbar-link-bg-hover: transparentize(adjust-color($topbar-bg-color, $lightness: $topbar-link-hover-lightness), 0.1) !default;
$topbar-link-bg-active: adjust-color($topbar-bg-color, $lightness: $topbar-link-hover-lightness) !default;

// Top menu icon styles
$topbar-menu-link-transform: uppercase !default;
$topbar-menu-link-font-size: emCalc(16) !default;
$topbar-menu-link-weight: bold !default;
$topbar-menu-link-color: #fff !default;
$topbar-menu-icon-color: #fff !default;
$topbar-menu-link-color-toggled: #888 !default;
$topbar-menu-icon-color-toggled: #888 !default;

// Transitions and breakpoint styles
$topbar-transition-speed: 300ms !default;
// Using em-calc for the below breakpoint causes issues with top bar
$topbar-breakpoint: 980px !default; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})" !default;

nav {
  @include grid-row();
  height: $topbar-height;
  line-height: $topbar-height;
  position: relative;
  font-size: $em-base;
  z-index: 999;
  background-color: $dd-blue;
  
  // Menu button
  button {
    color: $topbar-link-color;
    text-transform: $topbar-menu-link-transform;
    font-size: $topbar-menu-link-font-size;
    font-weight: $topbar-menu-link-weight;
    display: block;
    padding: 0 (20 + $topbar-height / 1.5) 0 $topbar-height / 3;
    height: $topbar-height;
    line-height: $topbar-height;
    position: absolute;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      -webkit-box-shadow: 0 20px 0 2px white, 0 28px 0 2px white, 0 36px 0 2px white;
      width: 20px;
      max-height: 0;
      right: $topbar-height / 3;
    }
  }
  
  button:hover + ul, ul:hover {
    height: auto;
    max-height: 500%;
  }

  // Logo in CSS + Title
  h1 {
    line-height: $topbar-height;
    font-size: $topbar-title-font-size;
    margin: 0;
    float: left;
    margin-left: 70px;

    &:before {
      content: "Dd";
      color: $dd-blue;
      position: absolute;
      width: 55px;
      height: 55px;
      background-color: #fff;
      top: 0;
      left: 15px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      padding-top: 1px;
    }
    &:after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      border: 8px double $dd-grey;
      top: 11px;
      left: 40px;
      clip: rect(0,12px,12px,0);
      @include border-radius(12px 0 0);
      @include rotate(25deg);
    }
    a {
      font-weight: $topbar-title-weight;
      color: $topbar-link-color;
      display: block;
      padding: 0 $topbar-height / 3;
      &:hover {
        color: $topbar-link-color;
      }
    }
  }

  ul {
    @include single-transition(max-height, $topbar-transition-speed);
    width: 100%;
    list-style: none;
    display: block;
    float: right;
    background-color: lighten($dd-blue, 5%);
    font-size: $em-base;
    margin: 0;
    margin-bottom: $topbar-margin-bottom;
    height: 0;
    overflow-y: hidden;
    li {
      & > a {
        display: block;
        width: 100%;
        color: $topbar-link-color;
        padding: 12px 0 12px 0;
        padding-#{$default-float}: $topbar-height / 3;
        font-size: $topbar-link-font-size;
        font-weight: $topbar-link-weight;

        &:not(.button) {
          padding: 0 $topbar-height / 3;
          line-height: $topbar-height;
        }
        &.button {
          @include button-base;
          @include button-size;
          @include button-style($topbar-button-bg-color, 0);
          font-size: $topbar-link-font-size;
          line-height: $topbar-height;
          padding: 0 $topbar-height / 3;
        }
      }

      // Apply the hover link color when it has that class
      &:hover > a {
        background: $topbar-link-bg-hover;
        color: $topbar-link-color-hover;
      }
    }
  }
}

// Highlight the active page
body[data-section="/projects/"] nav ul li > a[href="/projects/"],
body[data-section="/blog/"] nav ul li > a[href="/blog/"],
body[data-section="/team/"] nav ul li > a[href="/team/"],
body[data-section="/aboutus/"] nav ul li > a[href="/aboutus/"] {
  background: $topbar-link-bg-active;
  color: $topbar-link-color-active;
}

// Element that controls breakpoint, no need to change this ever
.top-bar-js-breakpoint {
  width: $topbar-breakpoint !important;
  visibility: hidden;
}
.js-generated { display: block; }


// Top Bar styles intended for screen sizes above the breakpoint.
@media #{$topbar-media-query} {
  
  nav {
    margin-top: $topbar-margin-bottom;
    margin-bottom: $topbar-margin-bottom;
    background-color: transparent;
    
    // Add a full-width colored bar behind the nav
    &:before {
      width: 500%;
      background-color: transparentize($dd-blue, 0.1);
      height: 100%;
      position: absolute;
      left: 50%;
      z-index: -1;
      margin-left: -250%;
    }
    
    h1 {
      margin-left: 100px;

      &:before {
        width: $dd-logo-size;
        height: $dd-logo-size;
        top: -15px;
        border: 3px solid #444;
        font-size: $dd-logo-size / 2;
        padding-top: 12px;
      }
      &:after {
        width: 35px;
        height: 35px;
        border: 12px double $dd-grey;
        top: 4px;
        left: 53px;
        clip: rect(0,17.5px,17.5px,0);
        @include border-radius(17.5px 0 0);
        @include rotate(25deg);
      }
    }

    button {
      display: none;
    }

    ul {
      width: auto;
      height: $topbar-height;
      max-height: $topbar-height;
      background-color: transparent;
      margin: 0;
      @include transition(none);
      &:hover {
        height: $topbar-height;
      }
      li {
        float: left;
      }
    }
  }
}





