---
layout: default
---

<section class="slideshow-wrapper">
  <ul data-orbit>
    {% for post in site.tags.front-page %}
    <li>
      <div class="flex-video widescreen">
        <img src="{{ post.image }}" />
      </div>
      <div class="row">
        <div class="{% if post.overlay_position contains 'right' %}large-offset-5{% endif %} orbit-caption columns large-5">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        {{ post.excerpt | markdownify }}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<section class="mission-statement row">
  <h2 class="text-center subheader">Digital Democracy empowers marginalized communities to use technology to fight for their human rights.</h2>
</section>

<br/><br/>

<section class="row">
  <div class="small-10 small-centered columns">
    <div class="row">
    <div class="small-4 columns"><img src="http://placehold.it/400x300&text=Work"></div>
    <div class="small-4 columns"><img src="http://placehold.it/400x300&text=Donate"></div>
    <div class="small-4 columns"><img src="http://placehold.it/400x300&text=Approach"></div>
    </div>
  </div>
</section>

<section class="row blog">
  <h2>Latest From Our Blog</h2>
  <ul class="large-block-grid-2">
    {% for post in site.categories.blog limit:4 %}
    <li>
      <a href="{{ post.url }}"><img src="http://placehold.it/200x150" class="left"></a>
      <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
      <p class="subhead">{{ post.excerpt }}</p>
    </li>
    {% endfor %}
  </ul>
</section>