---
layout: default
---

<section class="slideshow-wrapper">
  
  <ul data-orbit>
    {% for post in site.tags.front-page %}
    <li>
      <img src="{{ post.image }}" />
      <div class="{{ post.overlay_position }} orbit-caption">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <div class="hide-for-small">
          {{ post.excerpt | markdownify | strip_newlines }}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  
</section>

<section class="mission-statement">
  
  <blockquote>Digital Democracy empowers marginalized communities to use technology to defend their rights</blockquote>
  
</section>

<nav class="subnav">
  <ul>
    <li>
      <a href="/ourwork"><img src="/assets/our-work.jpg" alt="Our Work"></a>
    </li>
    <li>
      <a href="/donate"><img src="/assets/support-us.jpg" alt="Support Us"></a>
    </li>
    <li>
      <a href="/aboutus"><img src="/assets/our-approach.jpg" alt="Our Approach"></a>
    </li>
  </ul>
</nav>

<section class="latest-news">
  <h3>Latest From <a href="/blog/">Our Blog</a></h3>
  <ul class="post">
    {% for post in site.categories.blog limit:4 %}
    <li>
      <header>
        <a href="{{ post.url }}"><img src="{{ post.image }}"></a>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      </header>
      <div class="byline">
        By <address class="author">{{ post.author}}</address> 
        on <time pubdate datetime="{{ post.date | date: "%Y-%m-%dT%H:%M" }}">{{ post.date | date: "%B %d, %Y" }}</time>
      </div>
      {{ post.excerpt }}
    </li>
    {% endfor %}
  </ul>
</section>