{% unless post %}{% assign post = page %}{% endunless %}
{% if include.class == 'outer' %}
{% assign post_date = post.date | date: "%b %d &rsquo;%y" %}
{% else %}
{% assign post_date = post.date | date: "%B %d, %Y" %}
{% endif %}
<div class="byline {{ include.class }}">
      <address class="author">
      {% if include.link %}<a href="/team/{{ post.author | slugify }}/">{% endif %}
      {{ post.author }}{% if include.link %}</a>{% endif %}</address>
      <time pubdate datetime="{{ post.date | date: " %Y-%m-%dT%H:%M " }}">{{ post_date }}</time>
    </div>
