{% if post.short_title %}
  {% assign short_title = post.short_title %}
{% else %}
  {% assign short_title = post.title %}
{% endif %}

{% if post.excerpt %}
  {% assign post_excerpt = post.excerpt %}
{% else %}
  {% assign post_excerpt = post.content | split: "</p>" | first %}
{% endif %}
{% if post.author %}{% assign byline_class = "has-byline" %}{% endif %}
<li class="excerpt {{ include.class }} {{ byline_class }}">
  <div class="wrapper">
    <header>
      <a href="{{ post.url }}"><img src="{{ post.image }}" class="check-aspect-ratio"></a>
      <h3 class="inner-title {% if post.light_image %}background{% endif %}">
        <a href="{{ post.url }}">
          <span class="full-title">{{ post.title | markdownify | strip_html }}</span>
          <span class="short-title">{{ short_title | markdownify | strip_html }}</span>
        </a>
      </h3>
    </header>
    {% unless include.no_excerpt %}
    <blockquote cite="{{ post.url }}">
      {% if post.author %}{% include byline.html link = include.link %}{% endif %}
      <p>
        {{ post_excerpt | strip_html }}
        <a class="read-more" href="{{ post.url }}">Read more&hellip;</a>
      </p>
    </blockquote>
    {% endunless %}
  </div>
</li>
