  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="Digital Democracy" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
  <meta property="og:image" content="http://images.digital-democracy.org{{ page.image | replace: '.jpg', '-1200.jpg' }}" />
  <meta property="og:image:secure_url" content="https://images.digital-democracy.org{{ page.image | replace: '.jpg', '-1200.jpg' }}" />
  <meta property="fb:app_id"  content="808970299184874" />
