<footer>
  <div class="row">
    <div class="columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
        <li>
          <ul>
            <li><a href="/ourwork/">Our Work</a></li>
            {% for post in site.projects %}
            {% if post.short_title %}
              {% assign short_title = post.short_title %}
            {% else %}
              {% assign short_title = post.title %}
            {% endif %}
            <li><a href="{{ post.url }}">{{ short_title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/blog/">Blog</a></li>
            {% for post in site.posts limit:4 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/aboutus/">About Us</a></li>
            {% for post in site.aboutus%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <ul>
            <li>Find Us</li>
            <li><a href="https://www.facebook.com/digidemocracy">On Facebook</a></li>
            <li><a href="https://twitter.com/digidem">On Twitter @digidem</a></li>
            <li><a href="https://www.instagram.com/digidem/">Instagram</a></li>
            <li><a href="mailto:info@digital-democracy.org">Email info@ddem.us</a></li>
            <li>2443 Fillmore St #380-17460
              San Francisco<br>
              CA 94115<br>
            USA</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</footer>
