@import "mixin-caption";
@import "mixin-image-ratio";

$caption-bg: adjust-color($dd-blue, $lightness: -20%, $alpha: -0.1);
$left-bg: adjust-color($dd-blue, $lightness: 60%, $saturation: 50%);
$leftbar-width: emCalc(85);

article.article {
  position: relative;

  header {
    width: 100%;
    @include image-ratio(map-get($ratios, "ratio1x1"));
    .caption {
      position: absolute;
      right: 0;
      width: 100%;
      bottom: 0;
      background-color: $caption-bg;
      margin: 0;
      padding: 0.5em 1em;
      text-align: center;
      color: #eee;
      h2 {
        color: #fff;
        font-style: italic;
        margin-bottom: 0.25em;
      }
      h3 {
        color: #eee;
        font-weight: 300;
      }
      .byline {
        line-height: 1.6em;
        margin-bottom: 0.5em;
        font-size: 1.2em;
      }
      .author {
        color: $author-link;
      }
    }
  }

  .content {
    @include grid-row();
    position: relative;
    padding-top: 1em;
    img {
      width: 100%;
    }
    & > p:first-child {
      padding-right: 0.5em;
      font-size: 1.1em;
    }
    p {
      padding-left: 1em;
      padding-right: 1em;
//      font-family: 'Times New Roman', Times, serif;
    }
  }
}

@media #{$small} {
  article.article {
    top: - $topbar-margin-top - emCalc($topbar-height) - $topbar-margin-top;
    header {
      padding-bottom: map-get($ratios, "ratio3x2");
      .caption {
        left: $leftbar-width;
        width: auto;
        right: 33%;
      }
    }
    .content {
      padding-left: 3em + $leftbar-width;
      padding-top: 2em;
      &:before {
        height: 999em;
        position: absolute;
        top: 0;
        left: 0;
        width: $leftbar-width;
        background-color: $left-bg;
      }
      img {
        width: 100%;
        float: right;
        position: relative;
        margin: 0.25em -50% 0.25em 1em;
      }
      & > p:first-child {
        padding-right: 1em;
        font-size: 1.2em;
      }
      p {
        padding-right: percentage(1/3);
        padding-left: 0;
      }
    }
  }
}

@media #{$medium} {
  article.article header {
    padding-bottom: map-get($ratios, "ratio16x9");
  }
}

@media only screen and (min-width:"#{$row-width}") {
  article.article {
    header .caption {
      width: $row-width / 2 - $leftbar-width;
      right: 50%;
      left: auto;
    }
    .content:before {
      left: auto;
      right: $row-width - $leftbar-width;
      width: 999em;
    }
  }
}

@media #{$large} {
  article.article header {
    padding-bottom: map-get($ratios, "ratio24x10");
  }
  article.article .content {
    & > p:first-child {
      font-size: 1.4em;
    }
    p {
      font-size: 1.2em;
    }
  }
}