@import "compass/css3/transform";

.aspect-ratio {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  img {
    width: 100%;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    @include translate(-50%, -50%);
  }
}

@each $classname, $ratio in $ratios {
  .#{$classname} {
    padding-bottom: $ratio;
  }
}
