@import "extend-fixed-ratio";
@import "mixin-underline";

$featured-blog-bg: adjust-color($dd-blue, $lightness: 60%, $saturation: 50%);

.blog {
  .excerpt header > a {
    background-color: #eee;
  }
  &.featured {
    
    margin-bottom: 2em;
    div:last-child {
      padding-top: 0.5em;
    }
  }

  &.postlist, &.featured {

    .byline {
      line-height: 1.2em;
      margin-top: -0.3em;
      margin-bottom: 0.5em;
      font-size: 0.9em;
      .author {
    //    color: $author-link;
        display: inline;
      }
    }
  }

  &.postlist {
    &.row {
      margin-bottom: 2em;

      &::before {
        display: block;
        float: left;
        padding-bottom: 25%;
      }
    }
    .aspect-ratio {
      margin-top: 0.6em;
      // border: 1px solid #ccc;
    }
  }

  &.pagination {
    margin-top: 2em;
    margin-bottom: 2em;
    .page_number {
      text-align: center;
    }
    .next {
      text-align: right;
    }
  }
}


@media #{$small} {
  .blog .excerpt {
    @include grid-row();
    header {
      position: static;
      height: auto;
      overflow: visible;
      padding-bottom: 0;
      > a {
        position: relative;
        height: 0;
        float: left;
        width: 33%;
        padding-bottom: 33%;
        display: block;
        overflow: hidden;
        border-bottom: 1px solid white;
        &:hover:after {
          opacity: 0 !important;
        }
      }
      h3 {
        position: static;
        color: initial;
        text-shadow: none;
        margin-left: 33%;
        padding-left: 0.6em;
        padding-bottom: 0;
        padding-top: 0.4em;
        margin-left: 33%;
        pointer-events: all;
        &.background {
          background-color: none;
        }
        a {
          @include underline($anchor-underline-color, 1px, 3px);
          &:hover {
            @include underline();
          }
        }
      }
    }
    blockquote {
      margin-left: 33%;
      .byline {
        margin-bottom: 0.6em;
        margin-top: 0.3em;
      }
    }
    // &:nth-child(even) {

    // }
  }
}

@media #{$medium} {
  .blog .excerpt {
    margin-bottom: 2em;
    &.featured {
      box-shadow: -25rem 0 0 $featured-blog-bg, 25rem 0 0 $featured-blog-bg;
      background-color: $featured-blog-bg;
      header {
        > a {
          float: right;
          width: 67%;
          padding-bottom: 50%;
        }
        h3 {
          margin-left: 0;
          margin-right: 67%;
          padding-top: 0.6em
        }
      }
      blockquote {
        margin-left: 0;
        margin-right: 67%;
      }
    }
    header {
      > a {
        padding-bottom: 25%;
      }
      h3 {
        padding-top: 0.2em;
      }
    }
  }
}
