$featured-blog-bg: adjust-color($dd-blue, $lightness: 60%, $saturation: 50%);

.blog {
  &.featured {
    background-color: $featured-blog-bg;
    margin-bottom: 2em;
    div:last-child {
      padding-top: 0.5em;
    }
  }

  &.postlist, &.featured {
    .byline {
      line-height: 1.2em;
      margin-top: -0.3em;
      margin-bottom: 0.5em;
      font-size: 0.9em;
      .author {
    //    color: $author-link;
        display: inline;
      }
    }
  }

  &.postlist {
    &.row {
      margin-bottom: 2em;

      &::before {
        display: block;
        float: left;
        padding-bottom: 25%;
      }
    }
    .aspect-ratio {
      margin-top: 0.6em;
      // border: 1px solid #ccc;
    }
  }

  &.pagination {
    margin-top: 2em;
    margin-bottom: 2em;
    .page_number {
      text-align: center;
    }
    .next {
      text-align: right;
    }
  }
}


@media #{$small} {
  .blog.featured {
    box-shadow: -25rem 0 0 $featured-blog-bg, 25rem 0 0 $featured-blog-bg;
  }
}
