
%fixed-ratio-outer {
  position: relative;
  height: 0;
  padding-bottom: map-get($ratios, "ratio4x3");
  overflow: hidden;
}
%fixed-ratio-inner {
  width: 100%;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
