@import "compass/css3/transform";
%fixed-ratio-outer {
  position: relative;
  height: 0;
  padding-bottom: map-get($ratios, "ratio4x3");
  overflow: hidden;
}
%fixed-ratio-inner {
  width: auto;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  @include translate3d(-50%, -50%, 0);
}
