@import "mixin-caption";
@import "compass/css3/transform";

.mission-statement {
  @include grid-row();
  margin: 1em auto;
  blockquote {
    padding: 0 $column-gutter / 2;
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
    text-wrap: balanced;
    border: none;
    margin: 0;
  }
}

nav.subnav {
  margin: 3em 0;
  ul {
    @include grid-row();
    list-style: none;
    li {
      @include grid-column(4);
      a {
        &:before {
          // content: " ";
          display: block;
          padding-bottom: map-get($ratios, "ratio3x2");
        }
        display: block;
        width: 100%;
        position: relative;
        background-color: blue;
      }
      h2 {
        color: white;
        text-align: center;
        position: absolute;
        margin-top: 0;
        width: 100%;
        top: 50%;
        @include translateY(-50%);
      }
      img {
        width: 100%;
      }
    }
  }
}

.latest-news {
  @include grid-row();
  margin-top: 3em;
  ul {
    @include block-grid(1, 0);
    li:nth-child(n+5) {
      display: none;
    }
  }
}

@media #{$small} {
  .slideshow-wrapper {
    margin-top: - $topbar-margin-top - emCalc($topbar-height) - $topbar-margin-top;
  }
  .latest-news ul {
    @include block-grid(2, emCalc(40));
  }
  .mission-statement blockquote {
    font-size: 1.6em;
  }
}

@media #{$medium} {
  .mission-statement blockquote {
    font-size: 2em;
  }
  .latest-news ul {
    p, .byline {
      padding-left: 0;
      padding-right: 0;
    }
    li:nth-child(-n+6) {
      display: block;
    }
  }
}

@media #{$large} {
  .latest-news ul {
    li:nth-child(-n+8) {
      display: block;
    }
  }
}
