@import "compass/css3/transform";

@mixin image-ratio($ratio: 56.25%) {
  position: relative;
  height: 0;
  padding-bottom: $ratio;
  overflow: hidden;
  img {
    width: 100%;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    @include translate(-50%, -50%);
  }
}
