
$anchor-underline-color: #95d2e5;

$dd-blue: rgb(57,82,123);
$dd-blue-dark: #000033;
$dd-blue-light: #3333FF;
$dd-grey: #afafaf;
$dd-logo-size: 85px;
$donate-button: red;
$author-link: #e09602;
$header-font-weight: 500;
$header-font-color: $dd-blue-dark;
$paragraph-font-size: 1.1rem !default;

$ratios: (
  ratio24x10: 41.67%,
  ratio2x1: 50%,
  ratio16x9: 56.25%,
  ratio4x3: 75%,
  ratio1x1: 100%,
  ratio3x2: 66.67%
);

// Control wheth er or not CSS classes come through in the CSS files.

// $include-html-classes: true;
// $include-print-styles: true;
// $include-html-global-classes: $include-html-classes;
// $include-html-inline-list-classes: $include-html-classes;
// $include-html-type-classes: $include-html-classes;
// $include-html-grid-classes: $include-html-classes;
// $include-html-visibility-classes: $include-html-classes;
$include-html-button-classes: false;
// $include-html-form-classes: $include-html-classes;
// $include-html-custom-form-classes: $include-html-classes;
// $include-html-media-classes: $include-html-classes;
// $include-html-section-classes: $include-html-classes;
// $include-html-orbit-classes: $include-html-classes;
// $include-html-reveal-classes: $include-html-classes;
// $include-html-joyride-classes: $include-html-classes;
// $include-html-clearing-classes: $include-html-classes;
// $include-html-alert-classes: $include-html-classes;
// $include-html-nav-classes: $include-html-classes;
// $include-html-top-bar-classes: $include-html-classes;
// $include-html-label-classes: $include-html-classes;
// $include-html-panel-classes: $include-html-classes;
// $include-html-pricing-classes: $include-html-classes;
// $include-html-progress-classes: $include-html-classes;
// $include-html-magellan-classes: $include-html-classes;
// $include-html-tooltip-classes: $include-html-classes;
