@import "compass/css3/transform";
@import "mixin-image-ratio";

.slideshow-wrapper {
  height: 0;
  padding-bottom: map-get($ratios, "ratio16x9");
  ul {
    li {
      @include image-ratio(map-get($ratios, "ratio16x9"));
    }
  }
}

// .orbit-container {
//   overflow: visible;
// }

@media #{$medium} {
  .slideshow-wrapper ul li,
  .slideshow-wrapper,
  .orbit-container {
    height: 0;
    padding-bottom: map-get($ratios, "ratio16x9");
    width: 100%;
  }
  .orbit-container {
    .orbit-slides-container > * {
      .orbit-caption {
        @include grid-column(5, false, false, 1);
        position: absolute;
        &.right {
          @include grid-column(5, false, false, 6);
          position: absolute;
        }
      }
    }
  }
}

@media #{$large} {
  p {
    font-size: 1.2em;
  }
}
