@import "mixin-caption";
@import "mixin-image-ratio";

section.projects {
  width: 100%;
  position: relative;
  ul {
    @include block-grid(null, 0);
    li {
      width: 100%;
      padding: 0;
      img {
        display: none;
      }
      &.featured {
        header {
          padding-bottom: map-get($ratios, "ratio4x3");
          img {
            display: block;
          }
          @include caption();
          .title {
            display: none;
          }
        }
      }
    }
  }
}

@media #{$small} {
  section.projects ul li {
    width: 50%;
    h3 {
      font-size: $h4-font-size;
    }
    header {
      padding-bottom: map-get($ratios, "ratio1x1");
    }
    img {
      display: block;
    }
    &.large:first-child {
      width: 100%;
      h3 {
        font-size: $h3-font-size;
      }
      header {
        .title {
          display: block;
        }
        .short-title {
          display: none;
        }
        padding-bottom: map-get($ratios, "ratio16x9");
      }
    }
  }
}

@media #{$medium} {
  section.projects ul li {
    width: 33.33%;
    h3 {
        font-size: $h3-font-size;
    }
    &.featured {
      &.large {
        width: 66.67%;
        float: right;
        header {
          padding-bottom: map-get($ratios, "ratio2x1");
          .title {
            display: block;
          }
          .short-title {
            display: none;
          }
        }
        &:first-child {
          float: left;
          header {
            padding-bottom: map-get($ratios, "ratio4x3");
          }
        }
      }
      &.medium {
        header {
          padding-bottom: map-get($ratios, "ratio1x1");
        }
      }
      &.small {
        position: absolute;
        top: 0;
        right: 0;
        h3 {
          font-size: $h4-font-size;
        }
        header {
          padding-bottom: map-get($ratios, "ratio4x3");
        }
        &:last-child {
          margin-top: 25%;
        }
      }
    }
  }
}

@media #{$large} {
  section.projects ul li.featured header {
    .title {
      display: block;
    }
    .short-title {
      display: none;
    }
  }
}