@import "mixin-caption";
@import "mixin-image-ratio";

.projects {
  width: 100%;
  position: relative;
  ul {
    @include block-grid(null, 0);
    li.excerpt {
      width: 100%;
      img {
        display: none;
      }
      &.featured {
        .wrapper, header {
          padding-bottom: map-get($ratios, "ratio4x3");
          img {
            display: block;
          }
        }
      }
      html.touch & blockquote {
        display: none;
      }
    }
  }
}

@media #{$small} {
  .projects ul {
    li.excerpt {
      width: 50%;
      h3 {
        font-size: $h4-font-size;
      }
      .wrapper, header {
        padding-bottom: map-get($ratios, "ratio3x2");
      }
      img {
        display: block;
      }
      &.large:first-child {
        width: 100%;
        h3 {
          font-size: $h3-font-size;
        }
        .wrapper, header {
          padding-bottom: map-get($ratios, "ratio16x9");
        }
        header {
          .full-title {
            display: inline;
          }
          .short-title {
            display: none;
          }
        }
        blockquote > * {
          margin: -0.5em 50% 0em 0.3em;
        }
      }
    }
  }
}

@media #{$medium} {
  .projects ul li.excerpt {
    width: 33.33%;
    h3 {
        font-size: $h3-font-size;
    }
    &.featured {
      &.large {
        width: 66.67%;
        float: right;
        .wrapper, header {
          padding-bottom: map-get($ratios, "ratio2x1");
        }
        header {
          h3 {
            transition-duration: 400ms;
          }
          .full-title {
            display: inline;
          }
          .short-title {
            display: none;
          }
        }
        &:first-child {
          float: left;
          .wrapper, header {
            padding-bottom: map-get($ratios, "ratio4x3");
          }
        }
        blockquote {
          transition-duration: 400ms;
          > * {
            margin: -0.5em 50% 0em 0.3em;
          }
        }
      }
      &.medium {
        .wrapper, header {
          padding-bottom: map-get($ratios, "ratio1x1");
        }
      }
      &.small {
        position: absolute;
        top: 0;
        right: 0;
        h3 {
          font-size: $h4-font-size;
        }
        .wrapper, header {
          padding-bottom: map-get($ratios, "ratio4x3");
        }
        &:last-child {
          margin-top: 25%;
        }
      }
    }
  }
}

@media #{$large} {
  .projects ul li.excerpt.featured header {
    .full-title {
      display: inline;
    }
    .short-title {
      display: none;
    }
  }
}
