@import "mixin-caption";
@import "mixin-image-ratio";

section.projects {
  @include grid-row();
  position: relative;
  ul {
    @include block-grid(false, 2%);
    li {
      width: 100%;
      margin-bottom: 2%;
      padding-bottom: 0;
      img {
        display: none;
      }
      &.featured {
        header {
          img {
            display: block;
          }
          h3 {
            @include caption();
          }
        }
        &.medium header {
          padding-bottom: map-get($ratios, "ratio16x9");
        }
        &.small header {
          padding-bottom: map-get($ratios, "ratio2x1");
        }
      }
    }
  }
}

@media #{$small} {
  section.projects ul li {
    width: 50%;
    &.featured {
      &.large, &.medium {
        width: 100%;
      }
      &.medium header {
        padding-bottom: map-get($ratios, "ratio2x1");
      }
      &.large header {
        padding-bottom: map-get($ratios, "ratio16x9");
      }
    }
  }
}

@media only screen and (min-width:"#{$small-screen}") and (orientation: landscape) {
  section.projects ul li.featured {
    &.large {
      width: 66.67%;
      float: right;
      header {
        padding-bottom: map-get($ratios, "ratio2x1");
      }
    }
    &:first-child {
      float: left;
    }
    &.medium {
      width: 33.33%;
      header {
        font-size: emCalc(14);
        padding-bottom: map-get($ratios, "ratio1x1") + 2;
      }
    }
    &.medium + li.small {
      margin-top: 17%;
    }
    &.small {
      width: 33.33%;
      position: absolute;
      top: 0;
      right: 0;
      header {
        font-size: emCalc(12);
        padding-bottom: map-get($ratios, "ratio2x1");
      }
    }
  }
}