@import "mixins/mixin-caption";
@import "compass/css3/transform";
@import "mixins/mixin-image-ratio";


.slideshow-item {
  position: relative;
  .image {
    @include image-ratio(100%);
  }
  h2.caption {
    a {
      color: white;
    }
    color: white;
    -webkit-font-smoothing: antialiased;
    line-height: 1.1;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: -1.7em 0 0 0;
    position: relative;
    i, em {
      color: rgba(255,255,255,0.75);
      background-color: $dd-blue-dark;
      padding: 6px 8px;
      display: table;
      font-size: 1em;
      font-style: normal;
      line-height: 1.2;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
    strong, b {
      background-color: $dd-blue-dark;
      display: inline;
      padding: 0 8px;
      font-size: 2.5em;
      font-weight: 500;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
}

section.mission, section.action {
  max-width: 60rem;
  width: 100%;
  margin: rem-calc(24) auto 1rem auto;
  position: relative;
  padding: 0 rem-calc(10) 0 rem-calc(24);
  &:after {
    content: "";
    position: absolute;
    top: -0.5rem;
    height: calc(100% + 1.5rem);
    left: rem-calc(10);
    width: 4px;
    border-radius: 2px 2px 0 0;
    background-color: $dd-blue-light;
  }
}

section.action {
  margin: 1rem auto rem-calc(24) auto;
  &:after {
    top: 0;
    height: calc(100% + 0.5rem);
    border-radius: 0 0 2px 2px;
  }
  #mc_embed_signup {
    form {
      text-align: left;
    }
    label {
      font-family: Rubik, sans-serif;
      font-weight: 500;
      color: $dd-blue-dark;
    }
    .button {
      border-radius: 16px;
      background-color: $dd-blue-light;
      margin-top: 0.5rem;
    }
  }
}

.mission-statement {
  padding: 0;
  font-family: Rubik, sans-serif;
  color: $dd-blue-light;
  font-weight: 300;
  font-size: 1.2em;
  text-align: left;
  // polyfilled
  text-wrap: balanced;
  border: none;
  margin: 0;
}


@media #{$small-only} {
}

@media #{$medium-up} {
  .above-fold {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
  }
  .slideshow {
    flex: 1 1 auto;
    position: relative;
  }
  .slideshow-item {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    .image {
      height: 100%;
      padding-bottom: 0;
    }
    h2.caption {
      position: absolute;
      font-size: 1.7rem;
      margin: 0;
      bottom: 2rem;
      line-height: 1.15;
      i, em {
        padding: 7px 10px;
      }
      strong, b {
        padding: 0 10px;
      }
    }
  }
  section.action {
    margin: 1rem auto rem-calc(24) auto;
    &:after {
      top: -1rem;
      height: calc(100% + 1.5rem);
    }
  }
  .mission-statement {
    font-size: 2em;
  }
}

@media #{$large-up} {
  .slideshow-item {
    h2.caption {
      max-width: 50%;
      font-size: 2rem;
      line-height: 1.2;
      i, em {
        padding: 10px;
      }
      strong, b {
        padding: 10px;
      }
    }
  }
  section.mission, section.action {
    margin: 2.2rem auto 2rem auto;
    padding: 0 rem-calc(10) 0 rem-calc(38);
    &:after {
      height: calc(100% + 2.5rem);
      left: rem-calc(8);
      width: 6px;
      border-radius: 3px 3px 0 0;
    }
  }

  section.action {
    margin: 1rem auto 3rem auto;
    &:after {
      height: calc(100% + 2.5rem);
      border-radius: 0 0 3px 3px;
    }
    #mc_embed_signup {
      .button {
        margin-top: 0rem;
      }
    }
  }
}
