@import "mixins/extend-fixed-ratio";
@import "mixins/mixin-underline";

$dark-blue: rgba(29, 49, 82, 0.9);

.bg-dark-blue {
  background-color: rgba(70, 90, 120, 0.9);
}

.bg-blue {
  background-color: rgb(203, 219, 243);
}

.bg-white {
  background-color: white;
}

#mapeo-page {
  position: relative;
  @media #{$small-only} {
    .header {
      height: 100vw;
      video {
        display: none;
      }
      background-image: url(/assets/map-drawing.png);
      background-size: auto 100%;
      .news span {
        font-size: .3rem;
        padding: 10px 5px 0px 5px;
      }
    }
  }
  @media #{$medium-up} {
    .header {
      height: 56.35vw;
    }
    .scroller {
      justify-content: center;
      display: flex;
      padding: 50px;
      .text {
        width: 50%;
        display: flex;
        max-width: 400px;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 0px;
    z-index: 2;
  }
  .subtitle {
    color: white;
  }

  .header {
    * {
      z-index: 1;
    }
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    text-align: center;
    video {
      z-index: 0;
      position: absolute;
      width: 100%;
      top: 0;
    }

    .download-buttons {
      padding-top: 10px;
      margin-bottom: 70px;
      a {
        width: 100px;
        padding: 15px 25px;
        margin: 10px;
        color: white;
        background-color: #575757;
        background-color: #111;
        border: 1px solid #aaa;
      }
    }
  }
  section {
    padding: 30px 0px;
  }

  .scroller {
    z-index: 10;
    position: relative;
    padding: 70px 0px;
    margin: auto;
    hr {
      width: 60%;
      margin: 1rem auto;
      border-color: rgba(134, 171, 218, 0.42);
    }
    &.bg-blue {
      #mc_embed_signup {
        background-color: rgb(203, 219, 243) !important;
      }
    }
    .text {
      padding: 10px 30px;
    }
    .image {
      padding: 10px;
      text-align: center;
    }
    img {
      max-height: 250px;
    }
  }
  .mapeo-acknowledgements {
    max-width: 62.5rem;
    padding: 0 1em;
  }

  .news .footer-github-link a {
    color: white;
  }

  .footer-github-link {
    text-align: center;
    a {
      font-weight: bold;
      color: rgba(29, 49, 82, 0.9);
    }
    img { width: 22px; }
  }
}
