@import "mixins/extend-fixed-ratio";
@import "mixins/mixin-underline";

$dark-blue: rgba(29, 49, 82, 0.9);

.bg-dark-blue {
  background-color: rgba(70, 90, 120, 0.9);
}

.bg-blue {
  background-color: #f4f4ff;
}

.bg-dark-blue {
  background-color: #000033;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: #7f7f99;
}

$medium-down: "#{$screen} and (max-width:#{upper-bound($medium-range)})" !default;

#mapeo-page {
  position: relative;
  @media #{$medium-down} {
    .header {
      height: 100vh;
      background-image: url("/assets/mapeo_hero.jpg");
      background-size: auto 100vh;
      background-repeat: no-repeat;
      background-position: center top;
    }

    .page {
      padding: 80px 0px;
    }

    .download-buttons {
      padding-top: 50px;
      margin-bottom: 70px;
      a {
        padding: 10px 10px;
        margin: 3px;
        color: white;
        background-color: #000033;
        border: 1px solid #aaa;
      }
    }

    ul {
      margin-top: 32px;
      list-style: none;
      border-width: 1px;
      border-style: none none solid none;
      padding-left: 16px;
      margin-left: -1.1rem;
    }
    .button-component {
      display: flex;
    }
    li {
      padding-top: 8px;
      padding-bottom: 4px;
      padding-left: 24px;
      border-width: 1px;
      border-style: solid none none none;

      img {
        height: 48px;
      }
      .button {
        font-size: 0.8em;
        text-align: center;
        padding: 16px;
        margin-left: 16px;
      }
      .button.light {
        color: black;
      }
      .button.dark {
        color: white;
      }
    }
    section.light {
      ul {
        border-color: black;
        color: black;
      }
    }
    section.dark {
      ul {
        border-color: white;
        color: white;
      }
    }
  }
  @media #{$large-up} {
    .header {
      height: 100vh;
      background-image: url("/assets/mapeo_hero.jpg");
      background-size: auto 100vh;
      background-repeat: no-repeat;
      background-position: center top;
    }
    .scroller {
      justify-content: center;
      display: flex;
      padding: 50px;
      .text {
        width: 65%;
        display: flex;
        max-width: 600px;
        flex-direction: column;
        justify-content: center;
      }
    }

    .page {
      padding: 80px 0px;
      padding-left: 25%;
      padding-right: 25%;
    }

    .download-buttons {
      padding-top: 50px;
      margin-bottom: 70px;
      a {
        width: 100px;
        padding: 15px 25px;
        margin: 10px;
        color: white;
        background-color: #000033;
        border: 1px solid #aaa;
      }
    }

    ul {
      margin-top: 32px;
      list-style: none;
    }
    .button-component {
      display: flex;
      justify-content: center;
    }
    li {
      margin: 24px;

      img {
        height: 48px;
        margin-right: 16px;
      }
      .button {
        margin-left: 32px;
        font-size: 0.8em;
        border-width: 1px;
        border-style: solid;
        text-align: center;
        min-width: 400px;
        padding: 16px;
      }
      .button.light {
        border-color: black;
        color: black;
      }
      .button.dark {
        border-color: white;
        color: white;
      }
    }
  }
  h1.title1 {
    color: white;
    font-size: 6rem;
    margin-bottom: 5px;
    z-index: 2;
  }
  h1.title2 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    z-index: 2;
  }
  h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0px;
    z-index: 2;
    font-weight: bold;
  }
  .subtitle {
    color: white;
    font-size: 1.0rem;
    font-weight: lighter;
    margin-top: 1.25rem;
  }

  .case-studies {
    margin-top: 50px;
    margin-bottom: 100px;
    height: 350px;

    p {
      text-align: center;
      font-size: small;
      font-weight: bolder;
    }

    div.study {
      width: 220px;
      height: 160px;
      background-color: #777799;
      margin: 10px;
      margin-left: auto;
      margin-right: auto;

      .spacer-wao {
        height: 120px;
        background-image: url("/assets/wao_case_study_icon.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
      }
      .spacer-kofan {
        height: 120px;
        background-image: url("/assets/cofan_case_study_icon.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
      }

      p {
        padding: 10px;
        padding-left: 15px;
        height: 40px;
        font-size: smaller;
        color: white;
        background-color: #000033;
        text-align: left;
      }
    }
  }

  li.social-buttons {
    text-align: center;
    border-style: none;

    img {
      margin: 16px;
    }
  }
  ul.social-buttons {
    border-style: none;
  }

  .header {
    * {
      z-index: 1;
    }
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    text-align: center;
    min-height: 655px;
  }

  .page {
    h2 {
      font-size: 3em;
      text-align: center;
      font-weight: bolder;
      padding-bottom: 16px;
    }

    h3, h4 {
      padding-top: 32px;
      text-align: center;
      font-weight: bolder;
    }
  }
  .page.dark {
    h2 {
      color: white;
    }
  }

  .scroller-header {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 80px;
    margin-bottom: -24px;

    h2 {
      line-height: 1.2;
      font-weight: bold;
    }
  }

  .scroller {
    z-index: 10;
    position: relative;
    padding: 30px 0px;
    margin: auto;
    hr {
      width: 60%;
      margin: 1rem auto;
      border-color: rgba(134, 171, 218, 0.42);
    }
    &.bg-blue {
      #mc_embed_signup {
        background-color: rgb(203, 219, 243) !important;
      }
    }
    .text {
      padding: 10px 30px;
    }
    .image {
      padding: 10px;
      text-align: center;
    }
    img {
      max-height: 250px;
    }
  }
  .mapeo-acknowledgements {
    max-width: 62.5rem;
    padding: 0 1em;
  }

  .news {
    background-color: transparent;
  }

  .news .footer-github-link a {
    color: #ff3300;
  }

  div.footer-github-link {
    background-color: white;
    div {
      position: relative;
      top: -64px;
      background-color: white;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 95%;
      margin-left: 2.5%;
      text-align: center;
      color: black;
      font-family: "Rubik", Helvetica, Roboto, Arial, sans-serif;
      font-weight: bolder;
      a {
        font-weight: bold;
        color: #ff3300;
      }
    }
  }
}
