/*------------------------------------*\
  HEADER
\*------------------------------------*/

header {
  position: relative;
}

header h1 {
  position: absolute;
  left: -155px;
  margin: 0;
}

header h1 a {
  display: block;
  width: 143px;
  height: 138px;
  background-image: url(http://digital-democracy.org/logo1.jpg);
}

header h2 {
  margin-top: 90px;
  font-size: 1.125em;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  color: #38527B;
  border-bottom: 1px solid #aaa;
}

/*------------------------------------*\
	NAV
\*------------------------------------*/
nav{
  position: absolute;
  top: 20px;
  width: 100%;
}
nav ul{
  padding:0;
  margin:0;
  border-top:1px solid #066;
  border-bottom:1px solid #AAA;
	list-style:none;
	/* Clear floats */
	float:left;
	width:100%;
	position:relative;
	z-index:5;
}
nav > ul > li{
	float:left;
	position:relative;
}
nav a{
	display:block;
	padding: 0 6px 0;
  width: 85px;
  height: 42px;
	text-decoration:none;
	color:inherit;
	margin: 6px 0;
  border-right: 1px solid #DDD;
}
nav > ul > li:hover > a, /* persistent hover state for top-level items */
nav li:hover{ /* hover state for any menu item */
  color: white;
	background-color:#38527B;
  border-color:#38527B;
}

/*--- DROPDOWN ---*/
nav ul ul{
	background:#fff;
  color: black;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
nav ul ul li{ /* target items on dropdown */
  margin-top: -1px; /* avoid double border between items */
  border: 1px solid #066;
}
nav ul ul li a{
  border-color: transparent; /* override border-right for sub-menu */
}
nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}



/*------------------------------------*\
	SIDEBAR
\*------------------------------------*/

.donate-button a {
  display: block;
  width: 175px;
  height: 135px;
  background: url('http://digital-democracy.org/images/dd_donate.jpg') #38527B;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.0625em;
  font-weight: 100;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
}

/*------------------------------------*\
	CONTENT
\*------------------------------------*/

.media {
  background-color: #38527B;
  height: 200px;
}

.newsletter-signup {
  color: white;
  background-color: #38527B;
  height: 50px;
}

/*--- FORM INPUT ---*/


label {
  display: block;
  margin-bottom: 5px;
}
input[type="email"] {
  display: inline-block;
  width: 150px;  
  height: 24px;
  padding: 4px 4px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4  px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
input[type="email"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}


/*--- BUTTON ---*/

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);

}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #ffffff;
  text-decoration: none;
  background-color: #51a351;
  *background-color: #499249;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:active,
.btn.active {
  background-color: #408140 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}