---
layout: default
---
<section class="blog">
{% if paginator.page > 1 %}
<!-- Pagination links -->
<div class="blog pagination row">
  <div class="previous small-6 large-4 columns">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&lt; Newer posts</a>
  {% else %}
    &nbsp;
  {% endif %}
  </div>
  <div class="page_number large-4 show-for-medium-up columns">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>
  <div  class="next small-6 large-4 columns">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Older posts &gt;</a>
  {% else %}
    &nbsp;
  {% endif %}
  </div>
</div>
<ul>
{% else %}
<ul>
  {% for post in site.tags.featured limit:1 %}
  {% assign featuredPostUrl = post.url %}
{% include excerpt.html class = 'featured' link = true %}
  {% endfor %}
{% endif %}

{% for post in paginator.posts %}
{% unless post.url == featuredPostUrl %}
{% include excerpt.html link = true %}
{% endunless %}
{% endfor %}
</ul>
<!-- Pagination links -->
<div class="blog pagination row">
  <div class="previous small-6 large-4 columns">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&lt; Newer posts</a>
  {% else %}
    &nbsp;
  {% endif %}
  </div>
  <div class="page_number large-4 show-for-medium-up columns">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>
  <div  class="next small-6 large-4 columns">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Older posts &gt;</a>
  {% else %}
    &nbsp;
  {% endif %}
  </div>
</div>
