---
layout: default
---
<section class="row panel featured">
  {% for post in site.tags.featured limit:1 %}
  <div class="small-12 large-4 columns">
    <h3>{{ post.title }}</h3>
    {{ post.excerpt | markdownify }}
  </div>
  <div class="small-12 large-8 columns">
    <img src="{{ post.image }}">
  </div>
  {% endfor %}
</section>

<section class="row">
  <div class="panel small-4 columns hide-for-small">
    <div class="row">
      <div class="small-4 columns">
        <img src="http://placehold.it/150x200" class="left">
      </div>
      <div class="small-8 columns">
        <h5>UPDATES</h5>
        <p>Read the latest updates on our projects across the world.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <img src="http://placehold.it/150x200" class="left">
      </div>
      <div class="small-8 columns">
        <h5>TECH</h5>
        <p>The latest Dd experiments with cutting edge technology</p>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <img src="http://placehold.it/150x200" class="left">
      </div>
      <div class="small-8 columns">
        <h5>LEARN</h5>
        <p>Learn how to use key technologies for community rights</p>
      </div>
    </div>
  </div>
  <div class="small-12 large-8 columns blogroll">
    {% for post in site.categories.blog limit:10 %}
    <div class="row">
      <div class="small-4 columns">
        <img src="{{ post.image }}" class="left">
      </div>
      <div class="small-8 columns">
        <h5>{{ post.title}}</h5>
        <p>{{ post.excerpt }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>