footer {
    min-height: 200px;
    background-color: #000031;
    padding: 1em 0;
    .row {
      opacity: 0.8;
    }
    ul ul {
      list-style: none;
      color: #fff;
      margin-left: 0;
      li:first-child, li:first-child a {
        text-transform: uppercase;
        font-family: Rubik, sans-serif;
        font-weight: 500;
        color: #fff;
      }
      li:first-child a:hover {
        text-decoration: underline;
      }
      li {
        color: #ffffff;
        line-height: 1.3;
        margin-bottom: 0.5em;
      }
      a {
        color: rgba(255,255,255,0.8);
        display: block;
        &:hover {
          color: #fff;
        }
      }
    }
}

body[data-section="//"].full-header footer {
  top: 0;
}

@media #{$large-up} {
  footer {
    padding: 2em 0;
  }
}
