.logo {
  line-height: $dd-logo-size - 3px;
  height: $dd-logo-size - 3px;
}
.logo a:before {
  content: "Dd";
  color: $dd-blue;
  position: absolute;
  background-color: #fff;
  text-indent: 0;
  top: -15px;
  left: 15px;
  font-weight: bold;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: $dd-logo-size;
  height: $dd-logo-size;
  border: 3px solid #444;
  font-size: $dd-logo-size / 2;
  padding-top: 12px;
}
.logo a:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border: 12px double $dd-grey;
  top: 4px;
  left: 53px;
  clip: rect(0,17.5px,17.5px,0);
  @include border-radius(17.5px 0 0);
  @include rotate(25deg);
}
