@import "mixins/mixin-underline";

body {
  font-family: system-ui;
}

p a {
  @include underline($anchor-underline-color, 2px, 2px);
  color: inherit;
  &:hover {
    color: inherit;
  }
}

code {
  font-size: 0.833em;
}

pre code {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
}

@media #{$medium} {
  p a {
    @include underline($anchor-underline-color, 3px, 3px);
    &:hover {
      @include underline($anchor-underline-color, 4px, 2px);
    }
  }
}
