<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="fb:admins" content="626467703" />
  <title>Digital Democracy</title>
  
  <link rel="stylesheet" href="/css/site.css">
  
  <script src="/js/vendor/custom.modernizr.js"></script>

</head>
<body data-section="/{{ page.url | remove_first: "/" | split: "/" | first }}/">

<header class="site-header">
  <h1><a href="/">Digital Democracy</a></h1>
  <nav>
    <button>Menu</button>
    <ul>
      <li><a href="/ourwork/">Our Work</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/team/">Team</a></li>
      <li><a href="/aboutus/">About Us</a></li>
      <li>
        <a class="button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9936590" target="_blank">Donate</a>
      </li>
    </ul>
  </nav>
</header>

{{ content }}

<footer>
</footer>

<script>
document.write('<script src=' +
('__proto__' in {} ? '/js/vendor/zepto' : '/js/vendor/jquery') +
'.js><\/script>')
</script>

<!-- <script src="/js/vendor/jquery.balancetext.js"></script> -->
<script src="/js/foundation/foundation.js"></script>
<script src="/js/foundation/foundation.orbit.js"></script>
<script src="/js/foundation/foundation.topbar.js"></script>
<script src="/js/foundation/foundation.dropdown-custom.js"></script>

<script>
  $(document)
    .foundation('dropdown')
    .foundation('topbar')
    .foundation('orbit', {
      bullets: false,
      timer_speed: 5000,
      timer: true,
      slide_number: false,
      pause_on_hover: false
    });
  $('.orbit-caption')
    .on('mouseenter mouseleave', function (e) { $('[data-orbit]').click(); })
</script>
</body>
</html>