<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="fb:admins" content="626467703" />
  <title>Digital Democracy</title>
  
  <link rel="stylesheet" href="/css/site.css?{{ site.time | date: "%Y%m%d%H%M%S" }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
  
<!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
<!--<![endif]-->

  <script src="/js/site.js?{{ site.time | date: "%Y%m%d%H%M%S" }}"></script>
  
  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
  b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
  mixpanel.init("7cd6ff0e2c4ba05faca6b8af51b655ff");</script><!-- end Mixpanel -->
  
</head>
<body data-section="/{{ page.url | remove_first: "/" | split: "/" | first }}/">

<header class="site-header">
  <h1><a href="/">Digital Democracy</a></h1>
  <nav>
    <button>Menu</button>
    <ul>
      <li><a href="/ourwork/">Our Work</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/team/">Team</a></li>
      <li><a href="/aboutus/">About Us</a></li>
      <li>
        <a class="button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9936590" target="_blank">Donate</a>
      </li>
    </ul>
  </nav>
</header>

{{ content }}

<footer>
</footer>

<script>
  loadResponsiveImages();
  $(document)
    .foundation('dropdown')
    .foundation('topbar')
    .foundation('orbit', {
      bullets: false,
      timer_speed: 8000,
      animation_speed: 700,
      timer: true,
      slide_number: false,
      pause_on_hover: false
    });
  $('.orbit-caption')
    .on('mouseenter mouseleave', function (e) { $('[data-orbit]').click(); })
  $('.aspect-ratio').fixAspectRatio();
</script>
</body>
</html>
