<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="fb:admins" content="626467703" />

{% include facebook.html %}

  <title>Digital Democracy{% if page.title %}: {{ page.title }}{% endif %}</title>

  <link rel="stylesheet" href="/css/site.css?{{ site.time | date: "%Y%m%d%H%M%S" }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

  <!--[if IE 8]>
  <script src="/js/polyfills/ie8/event-listeners.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/js/polyfills/ie9/classlist.js"></script>
  <![endif]-->

  <script src="/js/vendor/custom.modernizr.js?{{ site.time | date: "%Y%m%d%H%M%S " }}"></script>

</head>
<body data-section="/{{ page.url | remove_first: "/" | split: "/" | first }}/" class="{{ page.body_class }} {{ layout.body_class }}">

<!--[if lt IE 8]>
    <style>.browserupgrade{margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}</style>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="site-header">
  <h1 class="logo"><a href="/">Digital Democracy</a></h1>
  <nav class="top-bar" data-topbar role="navigation">
    <button class="toggle-topbar">Menu</button>
    <ul>
      <li><a href="/ourwork/">Our Work</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/aboutus/">About Us</a></li>
      <li>
        <a class="button" href="/donate/" target="_blank">Donate</a>
      </li>
    </ul>
  </nav>
</header>

{{ content }}

<footer>
  <div class="row">
    <div class="columns small-12 medium-3 large-2">
      <h1 class="logo"><a href="/">Digital Democracy</a></h1>
    </div>
    <div class="columns small-12 medium-9 large-10">
      <ul class="small-block-grid-2 medium-block-grid-4">
        <li>
          <ul>
            <li><a href="/ourwork/">Our Work</a></li>
            {% for post in site.projects %}
            {% if post.short_title %}
              {% assign short_title = post.short_title %}
            {% else %}
              {% assign short_title = post.title %}
            {% endif %}
            <li><a href="{{ post.url }}">{{ short_title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/blog/">Blog</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/aboutus/">About Us</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/donate/" target="_blank">Donate</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</footer>

<!--[if lt IE 9]>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!--<![endif]-->

<script src="/js/site.js?{{ site.time | date: "%Y%m%d%H%M%S " }}"></script>

<script>
{% include js/site-setup.js %}
{% include js/foundation-setup.js %}
{% include js/google-analytics.js %}
</script>
</body>
</html>
