---
layout: default
---
<article class="article blogpost">
  <header>
    <img src="{{ page.image }}">
    <div class="caption">
      <h2>{{ page.title }}</h4>
        <div class="byline">
          <address class="author">
            By {{ page.author}}
          </address> 
          on <time pubdate datetime="{{ page.date | date: "%Y-%m-%dT%H:%M" }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </div>
    </div>
  </header>
  <div class="content">
    {{ content }}
  </div>
</article>