---
layout: default
body_class: full-header
---
<article class="article blogpost">
  <header>
    <img class="check-aspect-ratio" src="{{ page.image }}">
    <div class="caption">
      <h2>{{ page.title }}</h4>
        <div class="byline">
          <address class="author">
            By {{ page.author}}
          </address> 
          on <time pubdate datetime="{{ page.date | date: "%Y-%m-%dT%H:%M" }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </div>
    </div>
  </header>
  <div class="content">
    {{ content | replace: '<p><img', '<p class="image"><img' }}
  </div>
  {% include disqus.html %}
</article>
