---
layout: default
body_class: full-header
---
<header class="article {{ page.class }}">
  <div class="embed-container" id="video-container">
  <iframe src='{{ page.video }}?api=1&amp;player_id=video-iframe&amp;title=0&amp;byline=0&amp;portrait=0' id="video-iframe" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <img class="video-still" src="{{ page.image }}">
  <div class="play-button"></div>
  </div>
  {% include caption.html byline = true %}
</header>

<article class="article {{ page.class }}">

  <div class="content">
    {{ content | replace: '<p><img', '<p class="image"><img' }}
  </div>
  {% if page.comments %}{% include disqus.html %}{% endif %}

</article>
<!-- ' -->
<script>
{% include js/scrollup.js %}
</script>
<script src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
