---
layout: default
body_class: full-header affix
---
<header class="article {{ page.class }} video">
  <div class="embed-container" id="video-container">
  <iframe src='{{ page.video }}?api=1&amp;player_id=video-iframe&amp;title=0&amp;byline=0&amp;portrait=0' id="video-iframe" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <img class="video-still check-aspect-ratio" src="{{ page.image }}">
  <div class="play-button play-link"></div>
  {% include caption.html byline=true link=true %}
</header>

<article class="article {{ page.class }} video">

  <div class="content">
    {% include byline.html class='outer' link=true %}

    {{ content | replace: '<p><img', '<p class="image"><img' }}
  </div>
  {% if page.comments %}{% include disqus.html %}{% endif %}

</article>
<!-- ' -->
<script>
{% include js/scrollup.js %}
document.getElementById('video-iframe').focus();
</script>
<script src="/js/lib/parallax.js?{{ site.time | date: "%Y%m%d%H%M%S " }}"></script>
<script>
(function() {
if (!document.getElementsByTagName('html')[0].classList.contains('no-touch')) return;
  var transformProperty = Modernizr.prefixed('transform'),
    translatePrefix = Modernizr.csstransforms3d ? 'translate3d(' : 'translate(',
    translatePostfix = Modernizr.csstransforms3d ? ',0)' : ')';

  parallax('#video-container, .play-button', {
    adjustFn: function(y, h) {
      var offset = (100 * y / 2 / this.offsetHeight) - 50;
      this.style[transformProperty] = translatePrefix + '0, ' + offset + '%' + translatePostfix;
    }
  });
  parallax('.video-still', {
    adjustFn: function(y, h) {
      var offset = (100 * y / 2 / this.offsetHeight) - 50;
      this.style[transformProperty] = translatePrefix + '-50%, ' + offset + '%' + translatePostfix;
    }
  });
})();
</script>
<script src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
